<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet" href="/css/error/404.css" />
</head>
<body>
	<div id="container">
		<p id="error-text">404 ERROR</p>
		<p id="info-1">죄송합니다. 현재 찾을 수 없는 페이지를 요청하셨습니다.</p>
		<p id="info-2">존재하지 않는 주소를 입력하셨거나,</p>
		<p id="info-3">요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다.</p>
		<div id="btn">
			<button id="main-btn">메인으로</button>
			<button id="error-btn">에러메시지</button>
		</div>
		<div id="modal" class="hidden">
			<div id="content">
				<p th:text="${e}">에러메시지</p>
				<div>
					<button id="close-btn">닫기</button>
				</div>
			</div>

		</div>
		<script src="/js/error/404.js"></script>
	</div>
	<script src="/js/error/404.js"></script>
</body>
</html>
