body {
  margin: 0;
}

#footer {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #697077;
}
#footerText {
  color: #ffffff;
  font-size: 16px;
}
