* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
}

#header-content-1 {
  width: 100%;
  margin: 30px 10px;
  border-bottom: 1px #000;
}

#user {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  margin-right: 30px;
  list-style: none;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  margin-right: 50px;
}
#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav {
  margin: 20px 10px;
}
.navList > a {
  text-decoration: none;
  color: inherit;
  font-size: 24px;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 63px;
  transition: background-color 0.2s ease;
  border-radius: 20px;
}
.navList a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-size: 24px;
}

.navList:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd879;
  color: #ff5900;
  width: 165px;
  height: 63px;
  border-radius: 20px;
}
#loginText {
  font-size: 16px;
  font-weight: bold;
}
#loginText:hover,
#signInText:hover {
  text-decoration: underline;
}
#signInText {
  font-size: 16px;
  font-weight: bold;
}
