* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  overflow-x: hidden;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

#board-background-area {
  width: 100vw;
  background-color: #fff2d4;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.inner-content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.board-section {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.05);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 10px;
}

.board-list {
  list-style: none;
}
.board-list a {
  text-decoration: none;
  color: #333;
  flex-grow: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.board-list a:hover {
  text-decoration: underline;
}

.board-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 15px;
}

.volunteer-king-section {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  border: 2px solid #fab005;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.king-badge {
  position: absolute;
  top: -15px;
  left: 20px;
  background: #fab005;
  color: #fff;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
}

.king-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.king-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fff2d4;
}

.story-area {
  width: 1000px;
  margin-bottom: 100px;
}
#volunteer-title-text {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

swiper-slide {
  border-radius: 20px;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 300px;
  object-fit: fill;
}
.text-info {
  padding: 0px 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.text-info > p {
  font-size: 20px;
  font-weight: bold;
}
.mySwiper {
  padding-bottom: 50px;
}

#volun-title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.text {
  color: gray;
}
.rank {
  font-weight: bold;
  color: #ff8787;
  margin-right: 10px;
  width: 20px;
}
/* 정보게시판 */
.info-board-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}
.info-board-detail-text li {
  list-style: none;
}
.info-board-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}
.info-board-detail-btn {
  display: flex;
  justify-content: flex-end;
}
.volun-type-text {
  color: #ff5900;
  font-weight: bold;
}
.volun-info-title-text {
  font-weight: bold;
  font-size: 20px;
}
.info-board-section {
  padding-bottom: 30px;
}
