#title-text {
  font-size: 32px;
}

#title {
  border-bottom: 1px solid #ddd;
}
#write {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}
#write-btn {
  border: none;
  width: 165px;
  height: 63px;
  font-size: 24px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ff5900;
  color: white;
}
#write-btn:hover {
  background-color: #ffd879;
  color: #ff5900;
}
#page {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}

#page > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 12px;
}

#page > ul > li {
  width: 32px;
  height: 32px;
}

.page-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;

  border-radius: 50%;
}

.page-btn:hover {
  background-color: #ffd879;
  color: #ff5900;
}

.page-btn.curr-page {
  background-color: #ff5900;
  color: white;
  pointer-events: none;
}

#search {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-top: 31px;
}
#search-box {
  width: 103px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #697077;
}
#search-input {
  width: 185px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #697077;
}
#search-btn {
  width: 80px;
  height: 40px;
  border: none;
  background-color: #ffd879;
  font-size: 14px;
}
#search-btn:hover {
  cursor: pointer;
}
/* 테이블 */
#content {
  display: flex;
  justify-content: center;
}
#free-board-table {
  width: 100%;
  border-top: 1px solid #000;
  border-collapse: collapse;
}
#free-board-head th {
  background-color: #fff2d4;
}
#free-board-body td,
#free-board-head th {
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 16px 0px;
}
#free-board-body #content-title {
  width: 500px;
}
#board-title:hover {
  text-decoration: underline;
}
