<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/board/boardDetail.css" />
  </head>
  <body>
    <th:block th:replace="~{common/header}"></th:block>
    <div id="container" th:object="${boardInfo}">
      <div id="board-title">
        <p id="board-title-text" th:text="*{boardTitle}"></p>
        <!-- 스크랩 기능 -->
        <button
          id="scrap-btn"
          th:if="${session.loginMember != null}"
          th:classappend="${boardInfo.scrapCheck == 1} ? 'scrapped' : ''"
        >
          <i
            th:class="${boardInfo.scrapCheck == 1}
      ? 'fa-solid fa-star'
      : 'fa-regular fa-star'"
          ></i>
        </button>
      </div>
      <div id="board-user-info">
        <div id="user-info">
          <p>등록자</p>
          <p th:text="*{memberNickname}">유저닉네임</p>
        </div>
        <div id="board-info">
          <div>
            <p>작성일</p>
            <p th:text="*{boardWriteDate}">작성일</p>
          </div>
          <div>
            <p>조회수</p>
            <p th:text="*{readCount}">조회수</p>
          </div>
        </div>
      </div>
      <div id="content">
        <p th:utext="*{boardContent}">컨텐츠</p>
      </div>
      <div id="btn">
        <!-- 로그인 했을 때만 활성화 -->
        <button
          id="like-btn"
          th:if="${session.loginMember != null and (boardCode == 1 or boardCode == 3)}"
        >
          <!-- 빈 하트 -->
          <i
            th:class="${boardInfo.likeCheck == 1}
          ? 'fa-solid fa-heart'
          : 'fa-regular fa-heart'"
          ></i
          ><span id="likeCount" th:text="${boardInfo.likeCount}">좋아요수</span>
          <!-- <i class="fa-solid fa-heart"></i> 꽉찬 하트 -->
        </button>
        <!-- 본인 글일 때, 즉 로그인한 회원과 게시글의 회원이 같을 때 활성화 -->
        <button
          id="update-btn"
          th:if="${session.loginMember != null and session.loginMember.memberNo == boardInfo.memberNo}"
        >
          수정
        </button>
        <button
          id="delete-btn"
          th:if="${session.loginMember != null and session.loginMember.memberNo == boardInfo.memberNo}"
        >
          삭제
        </button>
      </div>
      <div id="page">
        <div id="before-board">
          <th:block th:if="${prevBoard}">
            <p>이전글</p>
            <p>
              <a
                th:href="@{/board/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${prevBoard.boardNo}, cp=${cp})}"
                th:text="${prevBoard.boardTitle}"
                >이전글</a
              >
            </p>
          </th:block>
        </div>
        <div id="after-board">
          <th:block th:if="${nextBoard}">
            <p>다음글</p>
            <p>
              <a
                th:href="@{/board/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=${nextBoard.boardNo}, cp=${cp})}"
                th:text="${nextBoard.boardTitle}"
                >다음글</a
              >
            </p>
          </th:block>
        </div>
      </div>
      <div id="list-btn">
        <a
          th:href="@{/board/{boardCode}(boardCode = ${boardCode}, cp=${cp})}"
          id="list-btn"
          >목록</a
        >
      </div>
    </div>
    <th:block th:replace="~{common/footer}"></th:block>
    <script th:inline="javascript">
      const boardNo = /*[[${boardInfo.boardNo}]]*/ "게시판 번호";
      const memberNo =
        /*[[${session.loginMember?.memberNo}]]*/ "로그인한 유저 번호";
      let likeCheck = Number(/*[[${boardInfo.likeCheck}]]*/ 0);
      let scrapCheck = Number(/*[[${boardInfo.scrapCheck}]]*/ 0);
    </script>
    <script
      src="https://kit.fontawesome.com/c0777c617e.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/board/boardDetail.js"></script>
  </body>
</html>
