<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/board/boardList.css" />
  </head>
  <body>
    <div id="header"></div>
    <th:block th:replace="~{common/header}"></th:block>
    <!-- th:replace="common/header" -->

    <div id="container">
      <div id="title">
        <th:block th:each="board : ${application.boardTypeList}">
          <p
            id="title-text"
            th:if="${board.boardCode == boardCode}"
            th:text="${board.boardName}"
          >
            게시판 유형
          </p>
        </th:block>
      </div>

      <div id="write">
        <!-- 로그인한 회원만 가능 
        + js만들어서 null 처리 필요 
        -->
        <!-- 관리자 - 공지사항 -->
        <button
          class="write-btn"
          th:if="${session.loginMember != null 
                and (
                  session.loginMember.authority == 2
                  or (
                    session.loginMember.authority == 1
                    and (boardCode == 1 or boardCode == 3 or boardCode == 5)
                  )
                )}"
        >
          글작성
        </button>
      </div>

      <!-- 게시글이 없을 때 조건 추가 -->
      <!-- 봉사 후기일 때 -->
      <th:block th:if="${boardCode == 3}">
        <div
          th:if="${freeBoardList == null or #lists.isEmpty(freeBoardList)}"
          class="empty-message"
        >
          게시글이 존재하지 않습니다.
        </div>

        <div
          id="volunteerReviewListContent"
          th:unless="${freeBoardList == null or #lists.isEmpty(freeBoardList)}"
        >
          <th:block th:each="board : ${freeBoardList}" th:object="${board}">
            <div id="content-1">
              <div id="content-img">
                <a
                  th:href="@{/board/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=*{boardNo}, cp=${pagination.currentPage})}"
                >
                  <img
                    th:src="${board.thumbnailPath != null 
           ? board.thumbnailPath
           : '/images/volunteer.jpeg'}"
                    id="content-img-info"
                  />
                </a>
              </div>

              <div id="content-info">
                <a
                  th:href="@{/board/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=*{boardNo}, cp=${pagination.currentPage})}"
                  id="content-title"
                  th:text="*{boardTitle}"
                >
                  제목
                </a>

                <div>
                  <p id="day-info-text" th:text="*{boardWriteDate}">작성일</p>
                  <p id="view-info-text" th:text="*{readCount}">조회수</p>
                </div>
              </div>
            </div>
          </th:block>
        </div>
      </th:block>

      <!-- 그 외 게시판 -->
      <th:block th:if="${boardCode != 3}">
        <div
          th:if="${freeBoardList == null or #lists.isEmpty(freeBoardList)}"
          class="empty-message"
        >
          게시글이 존재하지 않습니다.
        </div>

        <div
          id="content"
          th:unless="${freeBoardList == null or #lists.isEmpty(freeBoardList)}"
        >
          <table id="free-board-table">
            <thead id="free-board-head">
              <tr>
                <th>번호</th>
                <th>제목</th>
                <th>닉네임</th>
                <th>작성일</th>
                <th>조회수</th>
                <th th:if="${boardCode != 4 && boardCode != 5}">좋아요</th>
              </tr>
            </thead>

            <tbody id="free-board-body">
              <th:block
                th:each="freeBoard : ${freeBoardList}"
                th:object="${freeBoard}"
              >
                <tr>
                  <td th:text="*{boardNo}">게시판번호</td>
                  <td id="board-title">
                    <a
                      th:href="@{/board/{boardCode}/{boardNo}(boardCode=${boardCode}, boardNo=*{boardNo}, cp=${pagination.currentPage})}"
                      th:text="*{boardTitle}"
                    >
                      게시판 제목
                    </a>
                  </td>
                  <td th:text="*{memberNickname}">작성자 닉네임</td>
                  <td th:text="*{boardWriteDate}">작성일</td>
                  <td th:text="*{readCount}">조회수</td>
                  <td
                    th:if="${boardCode != 4 && boardCode != 5}"
                    th:text="*{likeCount}"
                  >
                    좋아요수
                  </td>
                </tr>
              </th:block>
            </tbody>
          </table>
        </div>
      </th:block>

      <!-- 페이지 네이션 -> 검색이 아닌 경우 -->
      <div
        id="page"
        th:if="${param.key == null and freeBoardList != null and !#lists.isEmpty(freeBoardList)}"
      >
        <ul>
          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=1)}"
              class="page-btn"
              >&lt;&lt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.prevPage})}"
              class="page-btn"
              >&lt;</a
            >
          </li>

          <th:block
            th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
          >
            <li>
              <a
                th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${i})}"
                th:text="${i}"
                class="page-btn"
                th:classappend="${i == pagination.currentPage} ? ' curr-page' : ''"
              ></a>
            </li>
          </th:block>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.nextPage})}"
              class="page-btn"
              >&gt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.maxPage})}"
              class="page-btn"
              >&gt;&gt;</a
            >
          </li>
        </ul>
      </div>

      <!-- 페이지 네이션 -> 검색인 경우 -->
      <div
        id="page"
        th:if="${param.key != null and freeBoardList != null and !#lists.isEmpty(freeBoardList)}"
        th:object="${pagination}"
      >
        <ul>
          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=1, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&lt;&lt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{prevPage}, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&lt;</a
            >
          </li>

          <th:block
            th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
          >
            <li>
              <a
                th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${i}, key=${param.key}, query=${param.query})}"
                th:text="${i}"
                class="page-btn"
                th:classappend="${i == pagination.currentPage} ? ' curr-page' : ''"
              ></a>
            </li>
          </th:block>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{nextPage}, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&gt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{maxPage}, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&gt;&gt;</a
            >
          </li>
        </ul>
      </div>

      <form
        th:if="${freeBoardList != null and !#lists.isEmpty(freeBoardList)}"
        th:action="@{/board/{boardCode}(boardCode=${boardCode})}"
        id="search"
      >
        <select name="key" id="search-box">
          <option value="t">제목</option>
          <option value="c">내용</option>
          <option value="tc">제목 + 내용</option>
          <option value="w">작성자</option>
        </select>
        <input
          type="text"
          name="query"
          id="search-input"
          placeholder="검색어를 입력해주세요"
        />
        <button id="search-btn">검색</button>
      </form>
    </div>

    <th:block th:replace="~{common/footer}"></th:block>

    <script src="/js/board/boardList.js"></script>
    <script th:inline="javascript">
      const boardCode = /*[[${boardCode}]]*/ "게시판 코드 번호";
    </script>
  </body>
</html>
