<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/board/volunteerReviewList.css" />
  </head>
  <body>
    <!-- header 들어갈 자리 -->
    <!-- th:replace="~{common/header}" -->
    <th:block th:replace="~{common/header}"></th:block>
    <div id="container">
      <div id="title">
        <p id="titleText">봉사후기</p>
      </div>
      <div id="write">
        <!-- 로그인한 회원만 가능 -->
        <button id="write-btn">글작성</button>
      </div>
      <div id="content">
        <!-- <th:block th:each="info : ${infomation}"></th:block> -->
        <th:block th:each="board : ${freeBoardList}">
          <div id="content-1">
            <div id="content-img">
              <a href="#">
                <img
                  src="/images/volunteer.jpeg"
                  alt=""
                  id="content-img-info"
                />
              </a>
            </div>
            <div id="content-info">
              <a href="#" id="content-title" th:text="${board.boardTitle}"
                >제목</a
              >
              <div>
                <p id="day-info-text" th:text="${board.boardWriteDate}">
                  작성일
                </p>
                <p id="view-info-text" th:text="${board.readCount}">조회수</p>
              </div>
            </div>
          </div>
        </th:block>
        <!-- asd -->
      </div>
      <!-- 페이지 네이션 -> 검색이 아닌 경우 -->
      <div id="page" th:unless="${param.key}">
        <ul>
          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=1)}"
              class="page-btn"
              >&lt;&lt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.prevPage})}"
              class="page-btn"
              >&lt;</a
            >
          </li>

          <th:block
            th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
          >
            <li>
              <a
                th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${i})}"
                th:text="${i}"
                class="page-btn"
                th:classappend="${i == pagination.currentPage} ? ' curr-page' : ''"
              ></a>
            </li>
          </th:block>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.nextPage})}"
              class="page-btn"
              >&gt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${pagination.maxPage})}"
              class="page-btn"
              >&gt;&gt;</a
            >
          </li>
        </ul>
      </div>
      <!-- 페이지 네이션 -> 검색인 경우 -->
      <div id="page" th:if="${param.key}" th:object="${pagination}">
        <ul>
          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=1, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&lt;&lt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{prevPage}, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&lt;</a
            >
          </li>

          <th:block
            th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
          >
            <li>
              <a
                th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=${i}, key=${param.key}, query=${param.query})}"
                th:text="${i}"
                class="page-btn"
                th:classappend="${i == pagination.currentPage} ? ' curr-page' : ''"
              ></a>
            </li>
          </th:block>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{nextPage}, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&gt;</a
            >
          </li>

          <li>
            <a
              th:href="@{/board/{boardCode}(boardCode=${boardCode}, cp=*{maxPage}, key=${param.key}, query=${param.query})}"
              class="page-btn"
              >&gt;&gt;</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- footer 들어갈 자리 -->
    <th:block th:replace="~{common/footer}"></th:block>
    <!-- th:replace="~{common/footer}" -->

    <script th:inline="javascript">
      const boardCode = /*[[${boardCode}]]*/ "게시판 코드 번호";
    </script>
  </body>
</html>
