body{
	margin: 0px;
}
@font-face {
	font-family: "RoundedFixedsys";
	src:
		url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
		format("woff");
	font-weight: normal;
	font-display: swap;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#error-text {
	font-family: "RoundedFixedsys";
	font-size: 200px;
	margin: 10px 0px;
	color: #ff5900;
}

#info-1 {
	font-size: 20px;
}

#info-2, #info-3 {
	margin: 0;
	color: grey;
	font-size: 16px;
}

#error-btn {
	border: none;
	margin-top: 20px;
	width: 150px;
	height: 70px;
	border-radius: 20px;
	font-size: 20px;
	border: 1px solid #ff5900;
	background-color: #ffd879;
	color: #ff5900;
}

#error-btn:hover {
	cursor: pointer;
}

#modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#modal>p {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	width: 200px;
}

#modal.hidden {
	display: none;
}

#close-btn {
	border: none;
	width: 100px;
	height: 50px;
	border: 1px solid #ff5900;
	border-radius: 20px;
	background-color: #ffd879;
	color: #ff5900;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

#content {
	display: flex;
	flex-direction: column;
	width: 70vw;
	height: 70vh;
	background-color: white;
	word-break: break-all;
	overflow-wrap: break-word;
	overflow-x: auto;
	border-radius: 20px;
	padding: 0px 20px;
}

#content>div {
	display: flex;
	justify-content: center;
}