<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.board.model.mapper.BoardMapper">

	<select id="selectBoardTypeList">
		SELECT BOARD_CODE "boardCode", BOARD_NAME "boardName"
		FROM BOARD_TYPE
		ORDER BY BOARD_CODE
	</select>

	<select id="getBoardListCount">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARD_CODE =
		#{boardCode}
		AND BOARD_DEL_FL = 'N'
	</select>

	<select id="getBoardList">
		SELECT
		B.BOARD_NO,
		B.BOARD_TITLE,
		M.MEMBER_NICKNAME,
		B.READ_COUNT,
		B.BOARD_LOCK,
		B.MEMBER_NO,
		(SELECT I.IMG_PATH || I.IMG_RENAME
		FROM BOARD_IMG I
		WHERE I.BOARD_NO = B.BOARD_NO
		AND I.IMG_ORDER = 0) AS THUMBNAIL_PATH,
		(SELECT COUNT(*) FROM "COMMENT" C WHERE C.BOARD_NO = B.BOARD_NO)
		COMMENT_COUNT,
		(SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO)
		LIKE_COUNT,
			<![CDATA[
			CASE
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
			END BOARD_WRITE_DATE
			]]>
		FROM BOARD B
		JOIN MEMBER M ON B.MEMBER_NO = M.MEMBER_NO
		WHERE
		B.BOARD_DEL_FL = 'N'
		AND B.BOARD_CODE = #{boardCode}
		ORDER BY B.BOARD_NO
		DESC
	</select>

	<select id="getSearchCount">
		SELECT COUNT(*)
		FROM BOARD B
		<if test='key == "w"'>
			JOIN MEMBER M ON B.MEMBER_NO = M.MEMBER_NO
		</if>
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
		<choose>
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			<when test='key == "c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
			<when test='key == "tc"'>
				AND (BOARD_CONTENT LIKE '%' || #{query} || '%'
				OR
				BOARD_TITLE LIKE '%' || #{query} || '%')
			</when>
			<otherwise>
				AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
			</otherwise>
		</choose>
	</select>

	<select id="getFreeList">
		SELECT
		B.BOARD_NO,
		B.BOARD_TITLE,
		M.MEMBER_NICKNAME,
		B.READ_COUNT,
		B.BOARD_LOCK,
		B.MEMBER_NO,
		(SELECT COUNT(*) FROM "COMMENT" C WHERE C.BOARD_NO = B.BOARD_NO)
		COMMENT_COUNT,
		(SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO)
		LIKE_COUNT,
		<if test="boardCode == 3">
			VOLUNTEER_START, VOLUNTEER_END, VOLUNTEER_CATEGORY,
			VOLUNTEER_AGENCY, VOLUNTEER_TYPE,
		</if>
		(SELECT I.IMG_PATH || I.IMG_RENAME
		FROM BOARD_IMG I
		WHERE I.BOARD_NO = B.BOARD_NO
		ORDER BY I.IMG_ORDER
		FETCH FIRST 1 ROW ONLY) AS THUMBNAIL_PATH,
			<![CDATA[
			CASE
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
			END BOARD_WRITE_DATE
			]]>
		FROM "BOARD" B
		JOIN "MEMBER" M ON B.MEMBER_NO = M.MEMBER_NO
		WHERE
		B.BOARD_DEL_FL = 'N'
		AND B.BOARD_CODE = #{boardCode}
		<choose>
			<when test='key == "t"'>
				AND BOARD_TITLE LIKE '%' || #{query} || '%'
			</when>
			<when test='key == "c"'>
				AND BOARD_CONTENT LIKE '%' || #{query} || '%'
			</when>
			<when test='key == "tc"'>
				AND (BOARD_CONTENT LIKE '%' || #{query} || '%'
				OR BOARD_TITLE LIKE '%' || #{query} || '%')
			</when>
			<otherwise>
				AND MEMBER_NICKNAME LIKE '%' || #{query} || '%'
			</otherwise>
		</choose>
		ORDER BY BOARD_NO DESC
	</select>

	<select id="freeBoardDetil">
		SELECT
		B.BOARD_NO, B.BOARD_TITLE, B.BOARD_CONTENT,
		TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD') AS BOARD_WRITE_DATE,
		B.READ_COUNT, M.MEMBER_NICKNAME, B.MEMBER_NO, B.BOARD_LOCK, B.BOARD_PW,
		B.BOARD_CODE,
		(SELECT I.IMG_PATH || I.IMG_RENAME FROM BOARD_IMG I WHERE I.BOARD_NO =
		B.BOARD_NO AND I.IMG_ORDER = 0) AS THUMBNAIL_PATH,
		<if test="boardCode == 3">
			VOLUNTEER_START, VOLUNTEER_END, VOLUNTEER_CATEGORY,
			VOLUNTEER_AGENCY, VOLUNTEER_TYPE,
		</if>
		(SELECT COUNT(*) FROM BOARD_LIKE L WHERE L.BOARD_NO = B.BOARD_NO) AS
		LIKE_COUNT,
		(SELECT COUNT(*) FROM BOARD_LIKE L WHERE L.BOARD_NO = B.BOARD_NO AND
		L.MEMBER_NO = #{memberNo}) AS LIKE_CHECK,
		(SELECT COUNT(*) FROM SCRAP S WHERE S.BOARD_NO = B.BOARD_NO AND S.MEMBER_NO =
		#{memberNo}) AS SCRAP_CHECK
		FROM BOARD B
		JOIN MEMBER M ON B.MEMBER_NO =
		M.MEMBER_NO
		WHERE B.BOARD_NO = #{boardNo}
		AND B.BOARD_CODE =
		#{boardCode}
	</select>

	<select id="getPrevBoard">
		SELECT BOARD_NO, BOARD_TITLE
		FROM "BOARD"
		WHERE BOARD_CODE =
		#{boardCode}
		<![CDATA[ AND BOARD_NO < #{boardNo} ]]>
		AND BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO DESC
		FETCH FIRST 1 ROW ONLY
	</select>

	<select id="getNextBoard">
		SELECT BOARD_NO, BOARD_TITLE
		FROM "BOARD"
		WHERE BOARD_CODE =
		#{boardCode}
		<![CDATA[ AND BOARD_NO > #{boardNo} ]]>
		AND BOARD_DEL_FL = 'N'
		ORDER BY BOARD_NO ASC
		FETCH FIRST 1 ROW ONLY
	</select>

	<delete id="deleteBoardLike">
		DELETE FROM "BOARD_LIKE" WHERE MEMBER_NO =
		#{memberNo} AND BOARD_NO = #{boardNo}
	</delete>
	<insert id="insertBoardLike">
		INSERT INTO "BOARD_LIKE" VALUES(#{boardNo},
		#{memberNo})
	</insert>
	<select id="selectLikeCount">
		SELECT COUNT(*) FROM "BOARD_LIKE" WHERE BOARD_NO =
		#{boardNo}
	</select>

	<insert id="insertScrap">
		INSERT INTO SCRAP (BOARD_NO, MEMBER_NO) VALUES
		(#{boardNo}, #{memberNo})
	</insert>
	<delete id="deleteScrap">
		DELETE FROM SCRAP WHERE BOARD_NO = #{boardNo} AND
		MEMBER_NO = #{memberNo}
	</delete>

	<insert id="boardReport">
		INSERT INTO BOARD_REPORT (REPORT_NO, MEMBER_NO,
		BOARD_NO, REPORT_REASON, REPORT_REASON_DETAIL, REPORT_DATE,
		PROCESS_YN)
		VALUES (SEQ_BOARD_REPORT.NEXTVAL, #{memberNo}, #{boardNo},
		#{reportReason}, #{reportReasonDetail}, SYSDATE, 'N')
	</insert>
	<select id="getReport">
		SELECT * FROM "BOARD_REPORT" WHERE MEMBER_NO =
		#{memberNo} AND BOARD_NO = #{boardNo}
	</select>

	<update id="updateReadCount">
		UPDATE "BOARD" SET READ_COUNT = READ_COUNT + 1 WHERE
		BOARD_NO = #{boardNo}
	</update>
	<select id="selectReadCount">
		SELECT READ_COUNT FROM "BOARD" WHERE BOARD_NO =
		#{boardNo}
	</select>

	<select id="checkBoardPw" resultType="_int">
		SELECT COUNT(*) FROM
		"BOARD" WHERE BOARD_NO = #{boardNo} AND BOARD_PW = #{boardPw} AND
		BOARD_DEL_FL = 'N'
	</select>

	<select id="selectDbImageList">
		SELECT SUBSTR(PROFILE_IMG, INSTR(PROFILE_IMG, '/',
		-1) + 1) "rename" FROM "MEMBER"
		UNION
		SELECT CAST(IMG_RENAME AS
		VARCHAR2(300)) "rename" FROM "BOARD_IMG"
	</select>

</mapper>