<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.project.info.model.mapper.InfoMapper">

    <select id="getListCount" resultType="_int">
        SELECT COUNT(*) FROM INFO_BOARD
        <where>
            <if test="progrmNm != null and progrmNm != ''">
                AND PROGRM_NM LIKE '%' || #{progrmNm} || '%'
            </if>
            <if test="schSido != null and schSido != ''">
                AND SCH_SIDO = #{schSido}
            </if>
        </where>
    </select>

    <select id="selectInfoList" resultType="InfoBoard">
        SELECT * FROM (
            SELECT ROWNUM AS RNUM, A.*
            FROM (
                SELECT * FROM INFO_BOARD
                <where>
                    <if test="progrmNm != null and progrmNm != ''">
                        AND PROGRM_NM LIKE '%' || #{progrmNm} || '%'
                    </if>
                    <if test="schSido != null and schSido != ''">
                        AND SCH_SIDO = #{schSido}
                    </if>
                </where>
                ORDER BY INFO_BOARD_NO DESC
            ) A
        )
        WHERE RNUM BETWEEN #{offset} + 1 AND #{offset} + #{limit}
    </select>

    <insert id="mergeInfoBoard">
        MERGE INTO INFO_BOARD B
        USING DUAL ON (B.URL = #{url})
        WHEN NOT MATCHED THEN
            INSERT (
                INFO_BOARD_NO, URL, PROGRM_NM, PROGRM_CN, 
                NANMM_BY_NM, PROGRM_BGNDE, PROGRM_ENDDE,
                ACT_PLACE, ACT_RM, ADULT_POSBL_AT, YNG_BGS_POSBL_AT
            ) VALUES (
                INFO_BOARD_SEQ.NEXTVAL, #{url}, #{progrmNm}, #{progrmCn},
                #{nanmmByNm}, #{progrmBgnde}, #{progrmEndde},
                #{actPlace}, #{actRm}, 'Y', 'Y'
            )
    </insert>
    
    <select id="selectInfoBoard" resultType="InfoBoard">
        SELECT * FROM INFO_BOARD WHERE INFO_BOARD_NO = #{infoBoardNo}
    </select>

</mapper>