<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.mypage.model.mapper.MyPageMapper">

	<select id="selectEncryptedPw" resultType="string">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<update id="updateProfile" parameterType="Member">
		UPDATE "MEMBER"
		SET 
		MEMBER_TEL      = #{memberTel},
		MEMBER_ADDRESS  = #{memberAddress}
		
		<if test="profileImg != null">
			, PROFILE_IMG = #{profileImg}
		</if>
			
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="getPostCount" resultType="_int">
	    SELECT COUNT(*) 
	    FROM BOARD B
	    WHERE B.BOARD_DEL_FL = 'N'
	    AND B.MEMBER_NO = #{memberNo} 
	    <if test="query != null and query != ''">
	        AND
	        <choose>
	            <when test="key == 'title'">
	                B.BOARD_TITLE LIKE '%' || #{query} || '%'
	            </when>
	            <when test="key == 'content'">
	                B.BOARD_CONTENT LIKE '%' || #{query} || '%'
	            </when>
	            <when test="key == 'all'">
	                (B.BOARD_TITLE LIKE '%' || #{query} || '%'
	                OR
	                B.BOARD_CONTENT LIKE '%' || #{query} || '%')
	            </when>
	        </choose>
	    </if>
	</select>
	
	
	<select id="selectPostList" resultType="Board">
	    SELECT 
	        ROW_NUMBER() OVER (ORDER BY B.BOARD_NO ASC) RNUM, 
	        B.BOARD_NO, 
	        B.BOARD_TITLE, 
	        B.BOARD_CODE, 
	        M.MEMBER_NICKNAME, 
	        B.READ_COUNT, 
	        
	        (SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
	        
	        <![CDATA[
	        CASE  
	            WHEN SYSDATE - B.BOARD_WRITE_DATE < 1 / 24 / 60
	            THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
	            WHEN SYSDATE - B.BOARD_WRITE_DATE < 1 / 24
	            THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60) || '분 전'
	            WHEN SYSDATE - B.BOARD_WRITE_DATE < 1
	            THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24) || '시간 전'
	            ELSE TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD')
	        END BOARD_WRITE_DATE
	        ]]>
	        
	    FROM BOARD B
	    JOIN MEMBER M ON (B.MEMBER_NO = M.MEMBER_NO)
	    WHERE B.BOARD_DEL_FL = 'N'
	    AND B.MEMBER_NO = #{memberNo} 
	
	    <if test="query != null and query != ''">
	        AND
		    <choose>
	            <when test="key == 'title'">
	                B.BOARD_TITLE LIKE '%' || #{query} || '%'
	            </when>
	            <when test="key == 'content'">
	                B.BOARD_CONTENT LIKE '%' || #{query} || '%'
	            </when>
	            <when test="key == 'all'">
	                (B.BOARD_TITLE LIKE '%' || #{query} || '%'
	                OR
	                B.BOARD_CONTENT LIKE '%' || #{query} || '%')
	            </when>
	        </choose>
	    </if>
	    ORDER BY B.BOARD_NO DESC
	</select>
	
	
	<select id="getCommentPostCount" resultType="_int">
		SELECT COUNT(DISTINCT B.BOARD_NO)
		FROM "COMMENT" C
		JOIN "BOARD" B ON (C.BOARD_NO = B.BOARD_NO)
		WHERE C.MEMBER_NO = #{memberNo}
		AND B.BOARD_DEL_FL = 'N'
		AND C.COMMENT_DEL_FL = 'N'
		
		<if test="query != null and query != ''">
			AND 
			<choose>
				<when test="key == 'title'">
					B.BOARD_TITLE LIKE '%' || #{query} || '%'
				</when>
				<when test="key == 'content'">
					B.BOARD_CONTENT LIKE '%' || #{query} || '%'
				</when>
				<when test="key == 'all'">
					(B.BOARD_TITLE LIKE '%' || #{query} || '%'
					OR
					B.BOARD_CONTENT LIKE '%' || #{query} || '%')
				</when>
			</choose>
		</if>
	</select>

	<select id="selectCommentPostList" resultType="Board">
		SELECT DISTINCT 
			B.BOARD_NO, 
			B.BOARD_TITLE, 
			B.BOARD_CODE, 
			M.MEMBER_NICKNAME, 
			B.READ_COUNT, 
			
			(SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
			
			<![CDATA[
			CASE  
				WHEN SYSDATE - B.BOARD_WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - B.BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - B.BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD')
			END BOARD_WRITE_DATE
			]]>
			
		FROM "COMMENT" C
		JOIN "BOARD" B ON (C.BOARD_NO = B.BOARD_NO)
		JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO) 
		WHERE C.MEMBER_NO = #{memberNo}
		AND B.BOARD_DEL_FL = 'N'
		AND C.COMMENT_DEL_FL = 'N'

		<if test="query != null and query != ''">
			AND 
			<choose>
				<when test="key == 'title'">
					B.BOARD_TITLE LIKE '%' || #{query} || '%'
				</when>
				<when test="key == 'content'">
					B.BOARD_CONTENT LIKE '%' || #{query} || '%'
				</when>
				<when test="key == 'all'">
					(B.BOARD_TITLE LIKE '%' || #{query} || '%'
					OR
					B.BOARD_CONTENT LIKE '%' || #{query} || '%')
				</when>
			</choose>
		</if>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	
	<select id="getScrapCount" resultType="_int">
		SELECT COUNT(*)
		FROM "SCRAP" S
		JOIN "BOARD" B ON (S.BOARD_NO = B.BOARD_NO)
		WHERE S.MEMBER_NO = #{memberNo}
		AND B.BOARD_DEL_FL = 'N'
		<if test="query != null and query != ''">
			AND (B.BOARD_TITLE LIKE '%' || #{query} || '%'
			OR B.BOARD_CONTENT LIKE '%' || #{query} || '%')
		</if>
	</select>

	<select id="selectScrapList" resultType="Board">
		SELECT 
			B.BOARD_NO,
			B.BOARD_CODE,
			B.BOARD_TITLE,
			M.MEMBER_NICKNAME,
			B.READ_COUNT,
			(SELECT COUNT(*) FROM "BOARD_LIKE" L WHERE L.BOARD_NO = B.BOARD_NO) LIKE_COUNT,
			
			<![CDATA[
			CASE  
				WHEN SYSDATE - B.BOARD_WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - B.BOARD_WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - B.BOARD_WRITE_DATE < 1
				THEN FLOOR((SYSDATE - B.BOARD_WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(B.BOARD_WRITE_DATE, 'YYYY-MM-DD')
			END BOARD_WRITE_DATE
			]]>
			
		FROM "SCRAP" S
		JOIN "BOARD" B ON (S.BOARD_NO = B.BOARD_NO)
		JOIN "MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
		WHERE S.MEMBER_NO = #{memberNo}
		AND B.BOARD_DEL_FL = 'N'
		<if test="query != null and query != ''">
			AND 
			<choose>
				<when test="key == 'title'"> B.BOARD_TITLE LIKE '%' || #{query} || '%' </when>
				<when test="key == 'content'"> B.BOARD_CONTENT LIKE '%' || #{query} || '%' </when>
				<when test="key == 'all'"> (B.BOARD_TITLE LIKE '%' || #{query} || '%' OR B.BOARD_CONTENT LIKE '%' || #{query} || '%') </when>
			</choose>
		</if>
		ORDER BY B.BOARD_NO DESC
	</select>
	
	<select id="selectEncPw" resultType="string">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>

	<update id="changePw">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{memberPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<!-- 회원 탈퇴 -->
	<update id="withdraw">
		UPDATE "MEMBER"
		SET MEMBER_DEL_FL = 'Y'
		WHERE MEMBER_NO = #{memberNo}
	</update>
</mapper>